* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

* h1,
* h2,
* h3,
* p {
  margin-bottom: 0.8em;
}

.flex-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000000;
  color: #FFFFFF;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;
}

.menu ul {
  list-style-type: none;
  margin-right: 15px;
}

.menu li {
  margin: 10px;
}

.main h1 {
  font-size: 250%;
}

.main h2 {
  margin: 0;
  font-size: 200%;
}

.section-details {
  width: 55vw;
  padding: 3vw;
}

.section-details h2 {
  font-size: 3rem;
}

.section-details h3 {
  font-size: 2rem;
}

.section-details p {
  text-indent: 80px;
  text-align: justify;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: bold;
}

.alinharTop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listaDeLinks {
  width: 30vw;
}

.listaDeLinks ul {
  list-style-type: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.listaDeLinks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.listaDeLinks img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.listaDeLinks a {
  margin: 0 20px;
  text-decoration: none;
  color: #000000;
}

.botao {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  width: 200px;
  font-weight: 900;
}

.destaqueHTML {
  color: #E44D26;
}

.destaqueCSS {
  color: #264DE4;
}

.destaqueJS {
  color: #E5A228;
}

.rodape {
  background-color: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.rodape p {
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.redesSociais {
  margin-left: 10px;
}

.redesSociais img {
  height: 70%;
  width: 70%;
}

#Destaque {
  background: url(/src/assets/Destaque_o20.png);
  background-position: center;
  background-repeat: no-repeat;
}

#HTML {
  background: -webkit-gradient(linear, left top, right top, from(rgba(228, 77, 38, 0.8)), to(rgba(241, 101, 41, 0.8)));
  background: linear-gradient(90deg, rgba(228, 77, 38, 0.8) 0%, rgba(241, 101, 41, 0.8) 100%);
}

#CSS {
  background: -webkit-gradient(linear, left top, right top, from(rgba(38, 77, 228, 0.8)), to(rgba(41, 101, 241, 0.8)));
  background: linear-gradient(90deg, rgba(38, 77, 228, 0.8) 0%, rgba(41, 101, 241, 0.8) 100%);
}

#JavaScript {
  background: -webkit-gradient(linear, left top, right top, from(rgba(229, 162, 40, 0.8)), to(rgba(241, 191, 38, 0.8)));
  background: linear-gradient(90deg, rgba(229, 162, 40, 0.8) 0%, rgba(241, 191, 38, 0.8) 100%);
}

#LogoHTML img {
  height: 300px;
  width: 300px;
}

#LogoCSS img {
  height: 300px;
  width: 300px;
}

#LogoJavaScript img {
  height: 300px;
  width: 300px;
}

#LinksUteis {
  background: -webkit-gradient(linear, left top, right top, from(#BBBBBB), to(#DDDDDD));
  background: linear-gradient(90deg, #BBBBBB 0%, #DDDDDD 100%);
}

#LinksUteis h2 {
  font-size: 2rem;
}

#LinksUteis h3 {
  font-size: 1.5rem;
}

#LinksUteis li a {
  font-size: 1.5rem;
  font-weight: bold;
}

main,
section {
  height: 75vh;
  text-align: center;
  overflow: hidden;
}

@media (orientation: landscape) {
  #Destaque {
    background-size: 110vw;
  }
  #InverterFlexBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (orientation: portrait) {
  #Destaque {
    background-size: 200vw;
  }
}

@media (min-width: 0) and (orientation: portrait) {
  html {
    font-size: 14px;
  }
  #Destaque {
    background-size: 280vw;
  }
  #logo {
    width: 100px;
    height: 100px;
  }
  #LogoHTML img {
    height: 300px;
    width: 300px;
  }
  #LogoCSS img {
    height: 300px;
    width: 300px;
  }
  #LogoJavaScript img {
    height: 300px;
    width: 300px;
  }
  #LinksUteis {
    height: 170vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #LinksUteis h2 {
    font-size: 3rem;
  }
  #LinksUteis #Icones {
    margin-left: 20px;
    width: 200%;
  }
  #LinksUteis h3 {
    font-size: 2rem;
    width: 330%;
  }
  #Titulo {
    width: 100%;
  }
  .menu {
    height: 50px;
  }
  .menu #traco3 {
    height: 50px;
    width: 50px;
    margin-right: 5px;
  }
  .menu ul {
    display: none;
  }
  .section-details {
    width: 70vh;
  }
  .botao {
    border-radius: 40px;
  }
  main,
  section {
    height: 120vh;
    text-align: center;
    overflow: hidden;
  }
  main .alinharTop,
  section .alinharTop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rodape {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 576px) and (orientation: landscape) {
  html {
    font-size: 14px;
  }
  #Destaque {
    background-size: 200vw;
  }
  .menu {
    height: 130px;
  }
  .menu ul {
    height: 50px;
    margin-top: 40px;
  }
  .menu #traco3 {
    display: none;
  }
  main,
  section {
    height: 80vh;
    text-align: center;
    overflow: hidden;
  }
  #Icones {
    margin-left: 10px;
    width: 200%;
  }
}

@media (min-width: 576px) and (orientation: portrait) {
  html {
    font-size: 17px;
  }
  #logo {
    width: 200px;
    height: 200px;
  }
  .menu {
    height: 100px;
  }
  .menu ul {
    height: 100px;
  }
  .menu #traco3 {
    display: none;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  html {
    font-size: 17px;
  }
  #logo {
    width: 200px;
    height: 200px;
  }
  .menu {
    height: 100px;
  }
  .menu ul {
    height: 100px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 20px;
  }
  #logo {
    width: 260px;
    height: 260px;
  }
  .menu {
    height: 130px;
  }
  .menu ul {
    height: 130px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 23px;
  }
}
/*# sourceMappingURL=styles.css.map */